#!/bin/sh
test -d build && rm -rf build
source hercules.env
./configure -DFVM_REQUIRED=Yes\
            -DCMAKE_BUILD_TYPE=Debug\
            -DCMAKE_INSTALL_PREFIX=/p/herc/itwm/hpc/soft/sdpa/fvm-pc\
            -DBOOST_ROOT=/p/herc/itwm/hpc/soft/boost/1.38/intel\
            -DSDPA_INCLUDE_DIR=/p/herc/itwm/hpc/ap/SDPA/sdpa/trunk\
            -DFVM_PC_HOME=/p/herc/itwm/hpc/soft/sdpa/fvm-pc\
            -DCMAKE_MODULE_PATH=/p/herc/itwm/hpc/ap/SDPA/modules/trunk\
            -DFHGLOG_HOME=/p/herc/itwm/hpc/soft/fhglog/1.1.0/intel\
            -DPV4D_LIBRARIES=/opt/cluster/PV-4D.pspro/lib64/libPv4dVM4.a\
            -DPV4D_INCLUDE_DIR=/opt/cluster/PV-4D.pspro/include\
            -DNRE_PCD_DEFAULT_CFG=/p/herc/itwm/hpc/soft/sdpa/fvm-pc/etc/fvm.cfg

