#!/bin/sh
test -d build && rm -rf build
module load compiler/intel
export PATH="/p/herc/itwm/hpc/soft/cmake/2.6.4/bin:$PATH"
./configure -DCMAKE_BUILD_TYPE=Release -DCMAKE_INSTALL_PREFIX=/p/herc/itwm/hpc/soft/sdpa/fvm-pc -DBOOST_ROOT=/p/herc/itwm/hpc/soft/boost/1.38/intel -DSDPA_INCLUDE_DIR=/p/herc/itwm/hpc/ap/SDPA/sdpa/trunk -DFVM_PC_HOME=/p/herc/itwm/hpc/soft/sdpa/fvm -DCMAKE_MODULE_PATH=/p/herc/itwm/hpc/ap/SDPA/modules/trunk -DFHGLOG_HOME=/p/herc/itwm/hpc/soft/fhglog/1.1.0/intel
