#!/bin/sh
test -d build && rm -rf build
source hercules.env
./configure -DFVM_REQUIRED=Yes\
            -DCMAKE_BUILD_TYPE=Debug\
            -DCMAKE_INSTALL_PREFIX=/p/herc/itwm/hpc/soft/sdpa/fvm-pc\
            -DBOOST_ROOT=/p/herc/itwm/hpc/soft/boost/1.38/intel\
            -DSDPA_INCLUDE_DIR=../../sdpa/trunk\
            -DFVM_PC_HOME=/p/herc/itwm/hpc/soft/sdpa/fvm-pc\
            -DCMAKE_MODULE_PATH=../../modules/trunk\
            -DFHGLOG_HOME=/p/herc/itwm/hpc/soft/fhglog/1.2.0/intel\
            -DFHGLOG_DYNAMIC=Yes\
            -DNRE_PCD_DEFAULT_CFG=/p/herc/itwm/hpc/soft/sdpa/fvm-pc/etc/fvm.cfg

