<defun>

  <in name="file_with_config" type="string" place="file_with_config"/>
  <out name="config" type="config" place="config"/>

  <net>

    <place name="file_with_config" type="string"/>
    <place name="config" type="config"/>

    <include-template href="gen.xml"/>
    <specialize name="read_config" use="generic_read">
      <type-map replace="T" with="config"/>
    </specialize>

    <transition name="read_config">
      <use name="read_config"/>
      <connect-in port="filename" place="file_with_config"/>
      <connect-out port="x" place="config"/>
    </transition>

  </net>

</defun>
