[submodule "util/fhg/util/boost/program_options"]
	path = util/fhg/util/boost/program_options
	url = git@gitlab.hpc.devnet.itwm.fhg.de:fhg_util/boost_program_options
[submodule "cmake"]
	path = cmake
	url = git@gitlab.hpc.devnet.itwm.fhg.de:shared/cmake.git
[submodule "src/util-generic"]
	path = src/util-generic
	url = git@gitlab.hpc.devnet.itwm.fhg.de:shared/util-generic.git
[submodule "share/process"]
	path = share/process
	url = git@gitlab.hpc.devnet.itwm.fhg.de:shared/process.git
[submodule "src/network"]
	path = src/network
	url = git@gitlab.hpc.devnet.itwm.fhg.de:shared/network.git
[submodule "src/rpc"]
	path = src/rpc
	url = git@gitlab.hpc.devnet.itwm.fhg.de:shared/rpc.git
