[submodule "cmake"]
	path = cmake
	url = ../../shared/cmake.git
[submodule "src/util-generic"]
	path = src/util-generic
	url = ../../shared/util-generic.git
[submodule "share/process"]
	path = share/process
	url = ../../shared/process.git
[submodule "src/rpc"]
	path = src/rpc
	url = ../../shared/rpc.git
[submodule "src/util-qt"]
	path = src/util-qt
	url = ../../shared/util-qt5.git
[submodule "src/fhg/util/boost/program_options"]
	path = src/fhg/util/boost/program_options
	url = ../../fhg_util/boost_program_options
