#!/bin/sh
test -d build && rm -rf build
source hercules.env
./configure -DCMAKE_BUILD_TYPE=Debug -DCMAKE_INSTALL_PREFIX=/p/herc/itwm/hpc/soft/sdpa/fvm-pc -DBOOST_ROOT=/p/herc/itwm/hpc/soft/boost/1.38/intel -DCMAKE_MODULE_PATH=/p/herc/itwm/hpc/ap/SDPA/modules/trunk -DWITH_FAKE_PC=Yes -DMMGR_INCLUDE_DIR=/p/herc/itwm/hpc/soft/sdpa/mmgr/include/mmgr -DMMGR_LIBRARY=/p/herc/itwm/hpc/soft/sdpa/mmgr/lib/libmmgr.so $@
