<footer class="site-footer h-card">
  <data class="u-url" href="{{ "/" | relative_url }}"></data>

  <div class="wrapper">

    <div class="footer-col-wrapper">
      <div class="footer-col">
        <a href="https://www.itwm.fraunhofer.de/en.html">
          <img src="{{ site.company_logo | relative_url }}" alt="Fraunhofer ITWM" width="40%"/>
        </a>
        {%- if site.author %}
        <ul class="contact-list">
          {% if site.author.name -%}
            <li class="p-name">{{ site.author.name | escape }}</li>
          {% endif -%}
          {% if site.author.email -%}
            <li><a class="u-email" href="mailto:{{ site.author.email }}">{{ site.author.email }}</a></li>
          {%- endif %}
        </ul>
        {%- endif %}
      </div>
      <div class="footer-col">
        <ul class="contact-list">
          <li class="p-name">
            <small>&copy; Copyright {{ site.time | date: "%Y" }} GPI-Space</small>
          </li>
          <li class="p-name">
            <a href={{ "/legal-notice" | relative_url }}>Legal Notice | Data Protection</a>
          </li>
        </ul>
      </div>
    </div>
  </div>

</footer>
