<structs>
  <struct name="CONFIG">
    <field name="OFFSETS" type="long" />
    <field name="SUBVOLUMES_PER_OFFSET" type="long" />
    <field name="BUNCHES_PER_OFFSET" type="long" />
    <field name="handle_Job" type="long" />
    <field name="handle_TT" type="long" />
    <field name="scratch_Job" type="long" />
    <field name="NThreads" type="long" />
    <field name="PARALLEL_LOADTT" type="long"/>
    <field name="VOLUME_CREDITS" type="long"/>

    <struct name="filter">
      <field name="clip" type="double"/>
      <field name="trap" type="double"/>
      <field name="tpow" type="double"/>
    </struct>
  </struct>
</structs>
