#!/bin/sh
if [ -e ./CMakeLists.txt ] ; then
  echo "F: This script is intended to be executed in a build directory!"
  exit 1
fi

src=$( cd $( dirname "$0" ) && pwd )
rev=$( cd "$src" && git describe 2>/dev/null )
if [ $? != 0 ]; then
  echo "W: could not get version information from git, trying svn..."
  rev="r$( cd "$src" && svn info | grep '^Revision:' | cut -d' ' -f 2 )"
  if [ $? != 0 ]; then
    if [ -z "$REV" ] ; then
      echo "E: could not figure out which version identification to use, aborting"
      exit 2
    else
      echo "I: using revision information from \$REV: $REV"
      rev="$REV"
    fi
  fi
fi

if [ ! -e ./CMakeCache.txt ] ; then
  echo "-: configuring fresh build tree"
  echo "-:     source: $src"
  echo "-:      build: `pwd`"
  echo "-:        rev: $rev"
  echo "# cmake "$src" -DPROJECT_REVISION=\"$rev\" $@"
  read -t 3 -n 1 -p "press any key to continue (Ctrl+C to abort)..."
  echo
  cmake "$src" -DPROJECT_REVISION="$rev" $@
else
  echo "-: reconfiguring build tree"
  echo "-:        rev: $rev"
  echo "-:    options: $@"
  echo "# cmake . -DPROJECT_REVISION=\"$rev\" $@"
  read -t 3 -n 1 -p "press any key to continue (Ctrl+C to abort)..."
  echo
  cmake . -DPROJECT_REVISION="$rev" $@
fi
