// Placeholder to allow defining custom styles that override everything else.
// (Use `_sass/minima/custom-variables.scss` to override variable defaults)

p {
  padding: 0.3em;
}

.home-grid-container {
  display: grid;
  grid-template-areas:
    'main main'
    'card1 card2';
  grid-gap: 10px;
  width: 100%;
}

.home-grid-item {
  background-color: rgb(244, 244, 244);
  padding: 10px;
  text-align: center;
}

.home-grid-main {
  grid-area: main;
}

.home-grid-main-button {
}

.home-grid-card-button {
}

.home-grid-card-1 {
  grid-area: card1;
}

.home-grid-card-2 {
  grid-area: card2;
}

ul.downloads {
  list-style:none;
  height:40px;
  padding:0;
  background: #f4f4f4;
  border-radius:5px;
  border:1px solid #e0e0e0;
  width:270px;
}

.downloads li {
  width:89px;
  float:left;
  border-right:1px solid #e0e0e0;
  height:40px;
}

.downloads li:first-child a {
  border-radius:5px 0 0 5px;
}

.downloads li:last-child a {
  border-radius:0 5px 5px 0;
}

.downloads a {
  line-height:1;
  font-size:11px;
  color:#676767;
  display:block;
  text-align:center;
  padding-top:6px;
  height:34px;
}

.downloads a:hover, .downloads a:focus {
  color:#675C5C;
  font-weight:bold;
}

.downloads ul a:active {
  background-color:#f0f0f0;
}

.downloads li + li + li {
  border-right:none;
  width:89px;
}

.downloads a strong {
  font-size:14px;
  display:block;
  color:#222;
}

@media print, screen and (max-width: 480px) {
  .downloads {
    width:99%;
  }

  .downloads li, .downloads li + li + li {
    width:33%;
  }
}

.contact-grid-container {
  display: grid;
  grid-template-columns: auto auto auto;
  grid-gap: 10px;
  width: 80%;

  .contact-grid-item {
    background-color: rgb(244, 244, 244);
    padding: 10px;
    text-align: center;
    width: 20em;
    height: 30.5em;

    table {
      border: 0px;

      tr{
        >:first-child {
          text-align: center;
        }

        &:nth-child(even) {
          background-color: rgba(255, 255, 255, 0);
        }
      }

      td {
        border: 0px;
      }
    }
  }
}

.post-header {
  .post-teaser-img {
    text-align: center;
    width: 100%;

    img {
      max-width: 32em;
      max-height: 20em;
      width: auto;
      height: auto;
    }
  }
}

.site-nav {
  .dropdown {
    float: left;
    overflow: hidden;
  }

  .dropdown .page-link {
    float: none;
    display: block;
    text-align: center;
    min-width: 120px;
    font-size: $base-font-size;
    border: none;
    outline: none;
    background-color: inherit;
    font-family: inherit;
    padding: 12px 16px;
    margin: 0;
  }

  a:hover, .page-link:hover, .dropdown:hover .page-link {
    background-color: #ddd;
  }

  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 120px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
  }

  .dropdown-content a {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
  }

  .dropdown-content a:hover {
    background-color: #ddd;
  }

  .dropdown:hover .dropdown-content {
    display: block;
  }
}

.pub-container {
  padding: 0.01em 16px;
}

.pub-ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.pub-large {
  font-size: 18px;
}

.pub-wide {
  letter-spacing: 4px;
}

.pub-ul li {
  padding: 8px 16px;
  border-bottom: 1px solid #ddd;

  &:last-child {
    border-bottom: none;
  }
}
