---
layout: default
---

{% assign page_name = page.name | replace: '.md', '' %}
{% assign latest_release = site.releases | first %}

<article class="post">

  <header class="post-header">
    <select id="page_version" onchange="update()">
      <option value="{{ '/' | append: latest_release | append: '/' | append: page_name | relative_url }}">latest release ({{ latest_release }})</option>
      {% for tag in site.releases %}
      <option value="{{ '/' | append: tag | append: '/' | append: page_name | relative_url }}">{{ tag }}</option>
      {% endfor %}
    </select>
    <h1 class="post-title">{{ page.title | escape }}</h1>
    <script type="text/javascript">
      function selectCurrent() {
        let select = document.getElementById("page_version");
        let options = select.options;
        let current = "{{ page.url | relative_url }}";

        let selected = 0;
        for (let i = 0; i < options.length; i++) {
          if (options[i].value == current) {
            selected = i;
            break;
          }
        }
        select.selectedIndex = selected;
      }

      function update() {
        let select = document.getElementById("page_version");
        location = select.options[select.selectedIndex].value;
      }

      selectCurrent();
    </script>
  </header>

  <div class="post-content">
    {{ content }}
  </div>

</article>
