<defun>

  <in name="file_with_config" type="string" place="file_with_config"/>
  <in name="config" type="config" place="config"/>
  <out name="config" type="config" place="config_written"/>

  <net>

    <place name="file_with_config" type="string"/>
    <place name="config" type="config"/>
    <place name="config_written" type="config"/>

    <include-template href="gen.xml"/>
    <specialize name="write_config" use="generic_write">
      <type-map replace="T" with="config"/>
    </specialize>

    <transition name="write_config">
      <use name="write_config"/>
      <connect-in port="filename" place="file_with_config"/>
      <connect-in port="x" place="config"/>
      <connect-out port="x" place="config_written"/>
    </transition>

  </net>

</defun>
