<structs>

  <struct name="config">
    <field name="offsets" type="long"/>

    <struct name="per">
      <struct name="offset">
        <field name="volumes" type="long"/>
        <field name="bunches" type="long"/>
      </struct>
      <struct name="volume">
        <field name="copies" type="long"/>
      </struct>
    </struct>

    <struct name="size">
      <struct name="store">
        <field name="bunch" type="long"/>
        <field name="volume" type="long"/>
      </struct>
    </struct>

    <struct name="assign">
      <field name="most" type="long"/>
    </struct>

    <struct name="loadTT">
      <field name="parallel" type="long"/>
    </struct>

    <struct name="handle">
      <field name="job" type="long"/>
      <field name="TT" type="long"/>
      <field name="bunch" type="long"/>
      <field name="volume" type="long"/>
    </struct>

    <struct name="threads">
      <field name="N" type="long"/>
    </struct>
  </struct>

</structs>
